<div style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">
  <h1>Welcome to PhishGuard!</h1>
  <p>Hi {{email}},</p>
  <p>
    Thank you for subscribing to our newsletter. Stay tuned for the latest updates
    on scams and security tips!
  </p>
  <p>If you no longer wish to receive emails, you can <a href="http://PhishGaurd.com/unsubscribe?email={{email}}">unsubscribe here</a>.</p>
  <p>- The PhishGuard Team</p>
</div>
